{% block style %}
    <style>
        /* */

        .container-cloud {
            /* min-width: 500px;
            min-height: 500px; */
            margin: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            opacity: 0.5;
            padding-top: 145px;
            z-index: 1;
        }
        .container-cloud {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        #cloud-intro{
            position: relative;
            height: 100%;
            background: url(https://static.radulescu.me/examples/clouds/clouds1000.png);
            background: url(https://static.radulescu.me/examples/clouds/clouds1000.png) 0 200px,
            url(https://static.radulescu.me/examples/clouds/clouds1200_1.png) 0 300px,
            url(https://static.radulescu.me/examples/clouds/clouds1000_blur3.png) 100px 250px;
            animation: wind 20s linear infinite;
        }
        @keyframes wind {
            0% {
                background-position: 0 200px, 0 300px, 100px 250px;
            }
            100% {
                background-position: 1000px 200px, 1200px 300px, 1100px 250px;
            }
        }
    </style>
{% endblock %}

<div class="container-cloud">
    <div id="cloud-intro"></div>
</div>