{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!
{% endblock %}

{% block body %}
	{% for station in stations %}
		<div class="card">
			<div class="card-body">
				<a href="{{ path('app_station_show', { id: station.id }) }}" class="card-title">{{ station.name }}</a>
			</div>
		</div>
	{% endfor %}
{% endblock %}
