{% extends 'base.html.twig' %}

{% block title %}Edit Lift{% endblock %}

{% block body %}
    <h1>Edit Lift</h1>

    {{ include('lift/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_lift_index') }}">back to list</a>

    {{ include('lift/_delete_form.html.twig') }}
{% endblock %}
