{% extends 'base.html.twig' %}

{% block title %}New Lift{% endblock %}

{% block body %}
    <h1>Create new Lift</h1>

    {{ include('lift/_form.html.twig') }}

    <a href="{{ path('app_lift_index') }}">back to list</a>
{% endblock %}
