{% extends 'base.html.twig' %}

{% block title %}Edit Slope{% endblock %}

{% block body %}
    <h1>Edit Slope</h1>

    {{ include('slope/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_slope_index') }}">back to list</a>

    {{ include('slope/_delete_form.html.twig') }}
{% endblock %}
