{% extends 'base.html.twig' %}

{% block title %}New Slope{% endblock %}

{% block body %}
    <h1>Create new Slope</h1>

    {{ include('slope/_form.html.twig') }}

    <a href="{{ path('app_slope_index') }}">back to list</a>
{% endblock %}
